{{ define "title" }}
Welcome to example!
{{ end }}

{{ define "content" }}
<main class="container-xl mx-auto max-w-3xl">
    <div class="mt-5">
        <div>
            <button onclick="console.log('hi')">Test log to console</button>
        </div>
        <div x-data="{ open: false }">
            <button @click="open = ! open">Test Alpine.js</button>

            <span x-show="open">
            Content...
            </span>
        </div>
    </div>

    <form>
        <label for="add-name">New Sample Name</label>
        <input
                type="text"
                name="name"
                id="add-name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <button hx-post="/api/samples" hx-target="#samples">Add</button>
    </form>

    <button hx-get="/api/samples" hx-target="#samples">Test Samples List</button>
    <div id="samples"></div>
</main>
{{ end }}
